<div style="width:100%;">
<div style="margin:auto;width:600px;font-family:sans-serif;">
<h1>WaveBox</h1>
<h2>by Ryan Denlinger</h2>
</div>
</div>

    <div id="wavebox" style="width:100%;filter:blur(5px);">


    </div>
  
