<div style="width:100%;">
<div style="margin:auto;width:600px;font-family:sans-serif;">
<h1>WaveBox</h1>
<h2>by Ryan Denlinger</h2>
<p><em>For best results, hold mouse cursor at a fixed position in the box.</em></p>
</div>
</div>

    <div id="wavebox" style="width:100%;">
<div id="innerbox" style="position:relative;margin:auto;width:600px;height:600px;">
    <canvas id="wb" width="600" height="600"></canvas>
</div>
    </div>
  
