<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>WaveBox</title>

<%= javascript_include_tag( 'index' ) %>
<%= javascript_include_tag( 'wavebox' ) %>

  </head>
  <body>

    <div id="wavebox" style="width:100%;">


    </div>
  
  </body>
</html>
